#modal-dialog_creerCompte,     
#modal-content_creerCompte {    
    /* 80% of window height */
    height: 90%;
}

#modal-body_creerCompte {             
    /* 100% = dialog height, 120px = header + footer */
    max-height: calc(100% - 120px);
    overflow-y: scroll;
}